.title {
  text-align: center;
  color: whitesmoke;
  font-family: 'Electrolize', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
}

.canvas-container{
  display: flex;
  justify-content: center;
}

.estherbaek {
    font-family: 'Electrolize', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}